PORT=3001
CADDY_STORAGE_MODE=local-file
CADDYFILE_PATH=/etc/caddy/Caddyfile
CADDY_RELOAD_MODE=command
CADDY_VALIDATE_COMMAND=caddy validate --config {config} --adapter caddyfile
CADDY_RELOAD_COMMAND=systemctl reload caddy
